::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Typewriter";
    line-height: 30px;
    background-image: radial-gradient(#222222 1px, #111111 0);
    background-size: 50px 50px;
    color: #bbbbbb;
}

#container {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container p {
    width: 450px;
    padding: 0px;
    margin: 0px;
}

#email {
    padding: 0px 0px 5px 0px;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#oslo {
    width: 450px;
    padding: 50px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #222222;
}

#oslo a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #bbbbbb;
}

#oslo a:hover {
    color: white;
    transition: 0.5s;
}
